.Titulo {
    background-color: cadetblue;
    text-align: center;
    font-size: 50px;
}


img{
    height: 300px;
}

.primero{
    color: aqua;
    background-color: blueviolet;
}

.fondo{
    background-color: blueviolet;
}

.rebel{
    color: blue;
    background-color: chartreuse;
}

.rebell{
    background-color: chartreuse;
    color: brown;
}